# To ensure app dependencies are ported from your virtual environment/host machine into your container, run 'pip freeze > requirements.txt' in the terminal to overwrite this file
fastapi==0.68.1
uvicorn[standard]
gunicorn==20.0.4
holidays
aiohttp==3.8.1